
.fighterList {

    border-color: black;
    border-style: dashed;
    overflow-x: auto;
    margin-left: 10px; /* Adjust the margin to leave space for the navbar */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add some gap between items for better spacing */
    flex-grow: 0;
    width: 140vh;
    overflow-y: auto; /* Enable vertical scrollbar */
    height: 98vh; /* Set height to 100% of the viewport */
    padding-left: 100px;
}

/*.fighter-card {*/
/*    */
/*}*/

.fighter-card {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(192, 185, 185, 0.71);
    margin: 10px;
    text-align: center;
    width: calc(27%); /* 33.33% width for a 3x3 grid with 10px gap */
    box-sizing: border-box;
    padding: 10px;


}

.card-fighter-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fight-card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    padding-top: 10px;
}

.broken-image {
    max-width: 52%;
    height: auto;
    border-radius: 50%;
    padding-top: 10px;
}

.card-fighter-name {
    font-family: arial, sans-serif;
    font-size: 20px;
    margin: 0;
    color: rgba(23, 22, 22, 0.91);
    padding-top: 5px;
}

.card-fighter-nickname {
    font-family: arial, sans-serif;
    font-size: 17px;
    margin: 0;
    color: rgba(35, 32, 32, 0.78);
    padding-top: 5px;
}

.card-fighter-weightclass {
    font-family: arial, sans-serif;
    font-size: 15px;
    color: rgba(23, 22, 22, 0.91);
    margin: 0;
    padding-top: 5px;
}

.card-fighter-record {
    font-family: arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 10px;
}

@media all and (max-width: 500px) {
    .fighter-card {
        height: calc(30%);
        width: calc(40%); /* 50% width for a 2x2 grid with 10px gap */
    }
    .fight-card-image {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        padding-top: 10px;
    }

    .card-fighter-name {
        font-size: 15px;
    }
    .card-fighter-nickname {
        font-size: 12px;
    }
    .card-fighter-weightclass {
        font-size: 10px;
    }
    .card-fighter-record {
        font-size: 10px;
    }

}