.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #121212;
    color: #fff;
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.cookie-consent h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font: bold 18px/18px sans-serif;
    line-height: normal;

}
.cookie-consent-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 40%
}

.cookie-consent-button-wrapper button {
    width: 30%;
    height: 50px;
}
.cookie-consent-button-wrapper button:hover {
    background: 0 0;
    color: #ff4742;
}

@media only screen and (max-width: 900px) {
    .cookie-consent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .cookie-consent h3 {
        font-size: 16px;

    }
    .cookie-consent-button-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .cookie-consent-button-wrapper button {
        width: 25%;
        height: 40px;
    }
    .cookie-consent-button-wrapper button:hover {
        background: 0 0;
        color: #ff4742;
    }
}

@media only screen and (max-width: 375px) {
    .cookie-consent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cookie-consent h3 {
        font-size: 12px;

    }
    .cookie-consent-button-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .cookie-consent-button-wrapper button {
        width: 25%;
        height: 40px;
    }
    .cookie-consent-button-wrapper button:hover {
        background: 0 0;
        color: #ff4742;
    }

}
