* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fighterList-wrapper {
    min-width: 82%;
    overflow-y: scroll;
    display: flex;
    margin-left: -30px;
}
.fighterList {
    position: relative;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
    gap: 20px;
    min-height: 100%;
    overflow-y: scroll;
    max-width: 100%;
}

.none-found-wrapper {
    width: 35%;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 240px;




}
.none-found {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 600px;
    gap: 10px;

}


.giphy-text {
    font-size: 35px;
    color: red;
}

/*@media only screen and (max-width: 900px) {*/

/*    .fighterList {*/
/*        background-color: #121212;*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*        perspective: 1000px;*/
/*    }*/
/*}*/
@media only screen and (max-width: 390px) {
    .fighterList {
        margin-left: 30px;
        height: 70vh
    }
    .none-found {
        width: 57vh;
        margin: 0;
        padding: 0;

    }
    .none-found-wrapper {
        margin-top:80px;
    }

    .giphy-text {
        font-size: 18px;
        text-align: center;

    }
}