/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: black; /* Choose your desired background color */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.nav-logo {
    width: 200px;
    height: auto;
}

.logo-items {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.logo-text {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between items */
}

.search-bar,
.filter-buttons {
    width: 100%; /* Take up full width of the Navbar */
}

.poweredby-items {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
#pwrby-logo {
    height: auto;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;

    }

    .logo-items {
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .nav-list {
        display: flex;
        flex-direction: row;
        padding-bottom: 25px;
    }
'yerp;'

    .nav-logo {
        height: auto;
        width: 120px
    }
    .logo-text {
        display: none;
    }
    .poweredby-items {
        display: none;
    }
    .filter-buttons {
        margin: -10px;
    }
}
