.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    background-color: #121212;
    box-shadow: red 0px 0px 10px;
    padding: 5px;

}
.card-fighter-front-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.fighter-card-front-image, .broken-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-fighter-front-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: initial;
    gap: 10px;
    margin-top: 10px;
    color: #fff;


}
.card-fighter-front-name {
    font-size: 25px;
    text-align: center;
}

.card-back {
    background-color: #121212;
    box-sizing: border-box;
}
.card-fighter-back-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
    color: #fff;
}
.special-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}
.representing-pob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.stat-label {
    font-size: 16px;
    font-weight: 800;
    color: gainsboro;
}
.stat {
    font-size: 15px;
    font-weight: 800;
}

.hidden {
    display: none;
}
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.search-bar-input {
    width: 85%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}
.search-button {
    width: 85%;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.search-bar.error {
    animation: shake 0.5s ease-in-out;
}
.search-bar.error input::placeholder {
     color: red;
 }
.newsletter-button {
    display: none;
}



@media only screen and (max-width: 390px) {
    .search-bar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-option {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        gap: 5px;

    }
    .search-bar-input {
        padding: 0;
        margin: 0;
        text-align: center;
        height: 25px;
        width: 50%;
    }
    .search-bar-input::placeholder {
        margin: 0;
        padding: 0;
        font-size: 8px;
    }
    .search-button {
        margin: 0;
        padding: 0;
        height: 28px;
        width: 50%;
    }
    .newsletter-button {
        height: 28px;
        width: 99%;
        display: flex;
        margin-bottom: 10px;

    }
}
