/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*.search-bar {*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

/*.search-bar {*/
/*    !* Your existing styles for the search bar *!*/

/*    !* Add transition for smooth animation *!*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

/*.search-bar.error {*/
/*    !* Shake animation for the error state *!*/
/*    animation: shake 0.5s ease-in-out;*/
/*}*/

/*@keyframes shake {*/
/*    0%, 100% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    25%, 75% {*/
/*        transform: translateX(-10px);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(10px);*/
/*    }*/
/*}*/
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-bar-input {
    width: 85%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}
.search-button {
    width: 85%;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.search-bar.error {
    animation: shake 0.5s ease-in-out;
}.search-bar.error input::placeholder {
     color: red;
 }
@media only screen and (max-width: 900px) {
    .search-bar {
        padding: 10px;
        display: flex;
        flex-direction: column;


    }
    .search-bar-input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        font-size: 16px;
        outline: none;
    }
    .search-button {
        height: 40px;
        width: 100%;
    }
}
